<div class="popup-subscribe-social _hidden">
    <div class="popup-subscribe-social__wrapper">
        <div class="popup-subscribe-social__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-subscribe-social__info">
            <div class="popup-subscribe-social__info-btn-close"></div>
            <div class="popup-subscribe-social__info-title">Підпишись на наші
                соціальні мережі</div>
            <div class="popup-subscribe-social__info-text">Першим дізнавайся про всі ексклюзивні
                <span>бонуси, фріспіни</span> та <span>новини світу гемблінгу</span>
            </div>
            <div class="popup-subscribe-social__info-list">
                <a href="#" class="popup-subscribe-social__info-link" aria-label="link-social">
                    <img src="img/facebook.svg" alt="facebook" width="13" height="25">
                </a>
                <a href="#" class="popup-subscribe-social__info-link" aria-label="link-social">
                    <img src="img/telegram.svg" alt="telegram" width="24" height="23">
                </a>
                <a href="#" class="popup-subscribe-social__info-link" aria-label="link-social">
                    <img src="img/instagram.svg" alt="instagram" width="25" height="25">
                </a>
            </div>
        </div>
    </div>
</div>