<div class="popup-year _hidden">
    <div class="popup-year__wrapper">
        <div class="popup-year__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-year__info">
            <div class="popup-year__info-btn-close"></div>
            <div class="popup-year__info-img">
                <img src="img/21+.svg" alt="21+" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-year__info-title">You are 21+ years old?</div>
            <div class="popup-year__info-text">Licensed online casinos with slot machines in Ukraine. The guarantee of </div>
            <a href="#" class="popup-year__info-link">To main</a>
        </div>
    </div>
</div>