<div class="popup-add _hidden">
    <div class="popup-add__wrapper">
        <div class="popup-add__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-add__info">
            <div class="popup-add__info-btn-close"></div>
            <div class="popup-add__info-img">
                <img src="img/popup-add.svg" alt="popup-add" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-add__info-title">Your comment
                has been added</div>
            <div class="popup-add__info-text">Licensed online casinos with slot machines in Ukraine. The guarantee of </div>
            <a href="#" class="popup-add__info-link">Okay!</a>
        </div>
    </div>
</div>