.header {
  background: rgba(255, 255, 255, 0.14);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 15px;

    }
  }

  &__cabinet{
    &-mob{
      display: none;
      width: 38px;
      height: 38px;
      background: $blue;
      //display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      @media screen and (max-width: 1024px){
        display: flex;
      }
    }


    &-in{
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 10px 20px 9px;
      font-family: $font-firs-semb;
      color: $white;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      border: 2px solid #0450FF;
      border-radius: 8px;
      transition: background-color .3s ease, color .3s ease;
      &:hover{
        background-color: $blue;
      }
    }
    &-reg{
      border: 2px solid #0450FF;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 10px 20px 9px;
      font-family: $font-firs-semb;
      color: $white;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      background: $blue;
      border-radius: 8px;
      transition: background-color .3s ease, color .3s ease;
      &:hover{
        background-color: $blue-hover;
      }
    }

  }


  &__logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-right: 15px;
  }

  &__logo-link {
    color: #ffffff;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    span:first-child {
      color: rgba(4, 80, 255, 1);
    }

    span:last-child {
      font-style: italic;
    }
  }

  &__search {
    width: 460px;

    input {
      display: inline-block;
      width: 100%;
      padding: 14px 24px;
      background: rgba(17, 17, 17, 1) url('../img//search.svg') no-repeat;
      background-position: 95% center;
      box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.1);

      color: #8E8E98;

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #8E8E98;
      }

      &:focus {
        border-color: $blue;
      }

    }
  }


  &__search-burger {
    display: none;
  }

  //menu list

}

.menu {
  &__list {
    display: flex;
  }

  &__item-open {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: transparent;
      width: 100%;
      height: 40px;
      top: 0;
      left: 0;
    }

  }

  &__item {
    padding: 14px 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-right: 37px;
    position: relative;
    transition: .3s ease;

    &:last-child {
      margin: 0;
    }

    svg {
      fill: #ffffff;
    }

    &-hover {
      &:hover .menu-svg {
        transform: rotate(180deg);
        fill: $blue;
      }

      &:focus .menu__item-list {
        display: block;
      }

      &:hover .menu__item-list {
        display: block;
      }

      &:hover::after {
        height: 60px;
      }

    }

    &:hover {
      color: $blue;
    }


  }

  &__link {
    color: #FFFFFF;
    transition: .3s ease;

    &:hover {
      color: $blue;
    }
  }

  &__item-list {
    padding: 10px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(25px);
    border-radius: 14px;
    min-width: 257px;
    position: absolute;
    z-index: 4;
    display: none;
    left: 0;
    top: 54px;

    &._open {
      display: block;
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 14px;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    transition: .3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.07);
    }

    svg {
      transform: rotate(-90deg);
      fill: #ffffff;
    }
  }
}

//burger
.menu__icon {
  height: 38px;
  width: 38px;
  padding: 10px;
  background: $blue;
  border-radius: 12px;
  display: none;
  justify-content: center;
  position: relative;
  z-index: 5;
  cursor: pointer;

  .circle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    transition: .3s ease;

    &._active {
      opacity: 0;
      visibility: hidden;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.3s ease;
  }

  &._active::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background: #ffffff;
    border-radius: 8px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.3s ease;
  }

  &._active::after {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    opacity: 1;
  }


  span {
    display: inline-block;
    width: 4.8px;
    height: 4.8px;
    background: #ffffff;
    border-radius: 50%;
  }
}




//personal


@include breakpoint(1024px) {

  .menu__icon {
    display: flex;
  }

  .header {
    &::after{
      content: '';
      width: 100%;
      height: 80px;
      background: rgb(17, 17, 17);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;
      transform: translate(-100%, 0);
      transition: .3s ease;
    }

    &._open::after{
      transform: translate(0, 0);
    }
    &__container{
      flex-direction: row;
    }

    &__logo {
      margin: 0;
    }

    &__search {
      display: none;
    }

    &__search-burger {
      display: block;
      margin: 0 auto 30px auto;
      max-width: 500px;
      width: 100%;
    }

    &__menu {
      position: fixed;
      padding: 93px 0 0 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 0;
      transform: translate(-100%, 0);
      transition: .3s ease;
      overflow-y: scroll;
      background: rgba(17, 17, 17, 1);

      &._active {
        transform: translate(0, 0);
      }
    }

    &__row {
      position: absolute;
      border: none;
      width: calc(100% - 30px);
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      background: rgba(255, 255, 255, 0.2);
      border-radius: 24px;
      z-index: 10;

    }
  }

  .menu {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin: 0 0 10px 0;
      font-size: 17px;
      line-height: 20px;
      background: rgba(255, 255, 255, 0.07);
      border-radius: 14px;
      padding: 14px 20px;
      max-width: 500px;
      width: 100%;
      position: relative;

      > svg {
        position: absolute;
        top: 23px;
        right: 15px;
      }

      &._open{
        border-radius: 14px;
        color: rgb(4, 80, 255);
        &::after{
          border-radius: 14px 14px 0 0;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 48px;
        background: rgba(255, 255, 255, 0.14);
        border-radius: 14px;
        top: 0;
        left: 0;
      }

      &:last-child {
        margin: 0 0 30px 0;
      }
    }

    &__item-list {
      position: relative;
      left: -20px;
      top: 14px;
      width: calc(100% + 40px);
      border-radius: 0 0 14px 14px;
    }
  }
}


@media  screen and (max-width: 1024px) {
  .header{
    &__cabinet{
      position: relative;

      &-reg,
      &-in{
        margin: 0;
        border: 2px solid #0450FF;
        display: inline-block;
        padding: 10px 20px 9px;
        font-family: $font-firs-semb;
        color: $white;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.04em;
        background: $blue;
        border-radius: 8px;
        &:hover{
          background: $blue;
        }
      }
      &-btns{
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        position: absolute;
        display: none;
        gap: 10px;
        flex-direction: column;
        right: 0;
        top: 65px;
        &._open{
          display: flex;
        }
      }
    }
  }
}

@include breakpoint(375px) {
  .header__logo {
    font-size: 22px;
    line-height: 22px;
  }
}