<header class="header">
  <div class="header__row">
    <div class="header__container">
      <div class="menu__icon">
        <div class="circle">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__logo">
        <a href="#" class="header__logo-link">
          casino<span>.</span><span>ua</span>
        </a>
      </div>
      <div class="header__search">
        <input type="text" name="search" class="search__input" placeholder="Поиск казино, слотов">
      </div>

    </div>
  </div>
  <nav class="header__menu ">
    <div class="header__container">
      <div class="header__search header__search-burger">
        <input type="text" name="search" class="search__input" placeholder="Поиск казино, слотов">
      </div>
      <ul class="menu__list">
        <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d1">
          <span>Лицензионное казино</span>
          <svg width="7" height="5" class="menu-svg">
            <use href="../img/arrow-bottom.svg#arrowBottom"></use>
          </svg>
          <ul class="menu__item-list" data-da="d1">
            <li class="menu__item-item">
              <a href="" class="menu__item-link">
                <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d2">
          <span>Игровые автоматы</span>
          <svg width="7" height="5" class="menu-svg">
            <use href="../img/arrow-bottom.svg#arrowBottom"></use>
          </svg>
          <ul class="menu__item-list" data-da="d2">
            <li class="menu__item-item">
              <a href="" class="menu__item-link">
                <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Бонусы</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Отзывы</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Блог</a>
        </li>
        <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d3">
          <span>Платежные системы</span>
          <svg width="7" height="5" class="menu-svg">
            <use href="../img/arrow-bottom.svg#arrowBottom"></use>
          </svg>
          <ul class="menu__item-list" data-da="d3">
            <li class="menu__item-item">
              <a href="" class="menu__item-link">
                <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
            <li class="menu__item-item">
              <a href="" class="menu__item-link"> <span>Licensed casino</span>
                <svg width="7" height="5">
                  <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
