<div class="popup-subscribe _hidden">
    <div class="popup-subscribe__wrapper">
        <div class="popup-subscribe__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-subscribe__info">
            <div class="popup-subscribe__info-btn-close"></div>
            <div class="popup-subscribe__info-image">
                <picture>
                    <source srcset="img/tg.webp" type="image/webp">
                    <img loading="lazy" src="img/tg.png" width="114"
                         height="114" alt="image-telegram">
                </picture>
            </div>
            <div class="popup-subscribe__info-title">Підпишись на наш Telegram</div>
            <div class="popup-subscribe__info-text">Першим дізнавайся про всі ексклюзивні
                <span>бонуси, фріспіни</span> та <span>новини світу гемблінгу</span>
            </div>
            <button class="popup-subscribe__info-btn">Підпишись</button>
        </div>
    </div>
</div>