<header class="header">
    <div class="header__row">
        <div class="header__container">
            <div class="menu__icon">
                <div class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    casino<span>.</span><span>ua</span>
                </a>
            </div>
            <div class="header__search">
                <input type="text" name="search" class="search__input" placeholder="Поиск казино, слотов">
            </div>
            <div class="header__cabinet">
                <div class="header__cabinet-user">
                    <div class="header__cabinet-name">Oliver Moore</div>
                    <div class="header__cabinet-mob">
                        <img src="img/mob-icon-cab.svg" alt="mob-icon" width="16" height="18" loading="lazy">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="header__cabinet-save__container">
        <div class="header__cabinet-save">
            <div class="header__cabinet-save-wrap">
                <div class="header__cabinet-save-title">Избраное</div>
                <div class="header__cabinet-save-row">
                    <div class="header__cabinet-save-item">
                        <div class="header__cabinet-save-item-title">Казино</div>
                        <div class="header__cabinet-save-item-links">
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min1.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min2.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min3.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                               aria-label="link-casino">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="header__cabinet-save-item">
                        <div class="header__cabinet-save-item-title">Бонусы</div>
                        <div class="header__cabinet-save-item-links">
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">

                                <img src="img/cas-min1.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                               aria-label="link-casino">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="header__cabinet-save-item">
                        <div class="header__cabinet-save-item-title">Слоты</div>
                        <div class="header__cabinet-save-item-links">
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min1.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                               aria-label="link-casino">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="header__cabinet-save-item">
                        <div class="header__cabinet-save-item-title">Провайдеры</div>
                        <div class="header__cabinet-save-item-links">
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min1.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>
                            <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                                <img src="img/cas-min2.webp" alt="casino" width="48" height="30" loading="lazy">
                            </a>

                            <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                               aria-label="link-casino">
                                +
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__cabinet-save-list">
                    <a href="#" class="header__cabinet-save-in">Мой аккаунт</a>
                    <a href="#" class="header__cabinet-save-in">Активные жалобы <span>2</span></a>
                    <a href="#" class="header__cabinet-save-in">Настройки</a>
                    <a href="#" class="header__cabinet-save-in">Выйти</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__menu ">
        <div class="header__container">
            <div class="header__search header__search-burger">
                <input type="text" name="search" class="search__input" placeholder="Поиск казино, слотов">
            </div>
            <ul class="menu__list">
                <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d1">
                    <span>Лицензионное казино</span>
                    <svg width="7" height="5" class="menu-svg">
                        <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                    </svg>
                    <ul class="menu__item-list" data-da="d1">
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link">
                                <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d2">
                    <span>Игровые автоматы</span>
                    <svg width="7" height="5" class="menu-svg">
                        <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                    </svg>
                    <ul class="menu__item-list" data-da="d2">
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link">
                                <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Бонусы</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Отзывы</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Блог</a>
                </li>
                <li class="menu__item menu__item-open menu__item-hover" aria-haspopup="true" data-da="d3">
                    <span>Платежные системы</span>
                    <svg width="7" height="5" class="menu-svg">
                        <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                    </svg>
                    <ul class="menu__item-list" data-da="d3">
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link">
                                <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu__item-item">
                            <a href="" class="menu__item-link"> <span>Licensed casino</span>
                                <svg width="7" height="5">
                                    <use href="../img/arrow-bottom.svg#arrowBottom"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</header>
