<section class="discussion">
    <div class="discussion__container">
        <h2 class="discussion__title">Обсуждение жалобы</h2>
        <div class="discussion__comment">
            <div class="discussion__comment-user">
                <div class="discussion__comment-user-wrap">
                    <div class="discussion__comment-user-img">
                        <picture>
                            <source srcset="img/user-img.webp" type="image/webp">
                            <img loading="lazy" src="img/user-img.png" width="70" height="70"
                                 alt="image-casino">
                        </picture>
                    </div>
                    <div class="discussion__comment-user-info">
                        <div class="discussion__comment-user-info-row">
                            <div class="discussion__comment-user-info-name">Anastasia</div>
                            <div class="discussion__comment-user-info-rating">
                                <img src="img/rating-user-img.svg" alt="rating-user" width="12" height="13">
                                5.6
                            </div>
                        </div>
                        <div class="discussion__comment-user-info-date">April 8, 2021</div>

                    </div>
                </div>
                <div class="discussion__comment-user-question">
                    <div class="discussion__comment-user-question-text">Wow! I've never seen the best poker room in my
                        life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing
                        poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any
                        problems. Nothing freezes, never knocks out of the game, loads on ... <span>See more</span>
                    </div>
                    <div class="discussion__comment-user-question-doc">
                        <div class="popup__discussion-up _hidden">
                            <div class="popup__discussion-up-wrap">
                                <div class="popup__discussion-up-img">
                                    <img loading="lazy" src="" width="70" height="70"
                                         alt="image-casino"  class="imgBig">
                                    <div class="close-popup-dis"></div>
                                </div>
                            </div>
                        </div>
                        <div class="discussion__comment-user-question-doc-item">
                            <img loading="lazy" src="img/user-img.png" width="70" height="70"
                                 alt="image-casino" class="imgMin">
                        </div>
                        <div class="discussion__comment-user-question-doc-item">
                                <img loading="lazy" src="img/bg-popup.jpg" width="70" height="70"
                                     alt="image-casino" class="imgMin">
                        </div>
                    </div>
                    <div class="discussion__comment-user-answer">
                        <a href="#" class="discussion__comment-user-answer-link">To answer</a>
                        <div class="discussion__comment-user-answer-like _active">2</div>
                    </div>
                </div>
            </div>
            <div class="discussion__comment-mod">
                <div class="discussion__comment-mod-wrap">
                    <div class="discussion__comment-mod-info">
                        <div class="discussion__comment-mod-info-casino">CASINO.<span>UA</span></div>
                        <div class="discussion__comment-mod-info-doc">Moderator</div>
                    </div>
                    <div class="discussion__comment-mod-date">April 8, 2021</div>
                </div>
                <div class="discussion__comment-mod-text">
                    Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                    at all. You will only need to provide a scan of your passport. Verification is required if an
                    application is created for the payment of large funds. This may take a significant period of time.
                    Additional information will be requested to address this... <span class="btn-more">See more</span>
                </div>
            </div>
            <div class="discussion__comment-user">
                <div class="discussion__comment-user-wrap">
                    <div class="discussion__comment-user-img">
                        <picture>
                            <source srcset="img/user-img.webp" type="image/webp">
                            <img loading="lazy" src="img/user-img.png" width="70" height="70"
                                 alt="image-casino">
                        </picture>
                    </div>
                    <div class="discussion__comment-user-info">
                        <div class="discussion__comment-user-info-row">
                            <div class="discussion__comment-user-info-name">Anastasia</div>
                            <div class="discussion__comment-user-info-rating">
                                <img src="img/rating-user-img.svg" alt="rating-user" width="12" height="13">
                                5.6
                            </div>
                        </div>
                        <div class="discussion__comment-user-info-date">April 8, 2021</div>

                    </div>
                </div>
                <div class="discussion__comment-user-question">
                    <div class="discussion__comment-user-question-text">Wow! I've never seen the best poker room in my
                        life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing
                        poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any
                        problems. Nothing freezes, never knocks out of the game, loads on ... <span>See more</span>
                    </div>

                    <div class="discussion__comment-user-answer">
                        <a href="#" class="discussion__comment-user-answer-link">To answer</a>
                        <div class="discussion__comment-user-answer-like">2</div>
                    </div>
                </div>
            </div>
            <div class="discussion__comment-mod">
                <div class="discussion__comment-mod-wrap">
                    <div class="discussion__comment-mod-info">
                        <div class="discussion__comment-mod-info-casino">CASINO.<span>UA</span></div>
                        <div class="discussion__comment-mod-info-doc">Moderator</div>
                    </div>
                    <div class="discussion__comment-mod-date">April 8, 2021</div>
                </div>
                <div class="discussion__comment-mod-text">
                    Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                    at all. You will only need to provide a scan of your passport. Verification is required if an
                    application is created for the payment of large funds. This may take a significant period of time.
                    Additional information will be requested to address this... <span class="btn-more">See more</span>
                </div>
            </div>
        </div>
        <div class="discussion__send">
            <form action="#" class="discussion__send-form">
                <div class="discussion__send-form-wrap">
                    <div class="discussion__send-form-doc">
                        <input type="file" name="document" id="document" class="discussion__send-form-file">
                        <label for="document" class="discussion__send-form-file-doc"></label>
                    </div>
                    <div class="discussion__send-form-image">
                        <input type="file" name="image" id="image" class="discussion__send-form-file">
                        <label for="document" class="discussion__send-form-file-img"></label>
                    </div>
                </div>
              <div class="discussion__send-form-text">
                  <textarea name="text" id="texarea" cols="30" rows="5" placeholder="Your text"></textarea>
              </div>
                <button type="submit" class="discussion__send-form-submit" aria-label="send-button">
                    <img src="img/send.svg" alt="send" width="40" height="40" loading="lazy">
                </button>
            </form>
        </div>
    </div>
</section>