<section class="overview">
  <div class="overview__container">
    <div class="overview__breadcrumbs description640">
      <a href="" class="overview__breadcrumbs-link">Home</a>
      <a href="" class="overview__breadcrumbs-link">Licensed casino</a>
      <a href="" class="overview__breadcrumbs-link">Licensed casino</a>
    </div>
    <div class="overview__back-link-wrap">
    <a href="#" class="overview__back-link">Назад</a>
    </div>
    <div class="overview__row">
      <div class="overview__info overview__info-done">
        <div class="overview__info-img">
          <img src="img/complaint-done.svg" alt="complaint-done" width="20" height="20">
        </div>
        <div class="overview__info-text">ВИРІШЕНО</div>
      </div>
      <div class="overview__text">To play Norwegian casino games online safely, we recommend doing so on only regulated and </div>
    </div>
  </div>
  <div class="overview__tabs">
    <a href="" class="overview__tabs-link _active">Обзор</a>
    <a href="" class="overview__tabs-link">Регистрация</a>
    <a href="" class="overview__tabs-link">Бонуси</a>
    <a href="" class="overview__tabs-link">Промокод</a>
    <a href="" class="overview__tabs-link">Отзывы</a>
    <a href="" class="overview__tabs-link">Зеркало</a>
    <a href="" class="overview__tabs-link">Вход</a>
  </div>

</section>