/* stylelint-disable */
@font-face {
  font-family: "TTFirsNeue-Regular";
  src: url("../fonts/../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue-DemiBold";
  src: url("../fonts/../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture {
  width: auto;
  height: auto;
  max-width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 60px 0;
  overflow: hidden;
}
.wrapper__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 20px 0 30px 0;
  }
  .wrapper__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 !important;
  }
}
[class*=__container] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "TTFirsNeue-Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #1F344C;
  background: #E7EAEE;
}
body._lock {
  overflow: hidden;
}

.main {
  margin: 0 20px 0 0;
}

.aside {
  min-width: 315px;
  max-width: 315px;
}
@media screen and (max-width: 600px) {
  .aside {
    min-width: 300px;
    max-width: 100%;
  }
}

.popup-subscribe {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.8);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  -o-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}
.popup-subscribe._hidden {
  opacity: 0;
  visibility: hidden;
}
.popup-subscribe__wrapper {
  max-width: 630px;
  padding: 0 15px;
}
.popup-subscribe__title {
  font-family: "TTFirsNeue-DemiBold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 25px 0;
}
.popup-subscribe__title span:first-child {
  color: #0450FF;
}
.popup-subscribe__title span:nth-child(2) {
  font-style: italic;
}
.popup-subscribe__info {
  position: relative;
  padding: 45px 60px 65px;
  background: #FFFFFF;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup-subscribe__info-image {
  max-width: 114px;
  margin: 0 0 15px 0;
}
.popup-subscribe__info-title {
  font-family: "TTFirsNeue-DemiBold", sans-serif;
  color: #1F344C;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 0 15px 0;
}
.popup-subscribe__info-text {
  max-width: 326px;
  font-family: "TTFirsNeue-Regular", sans-serif;
  color: #4D9696;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.004em;
  text-align: center;
  margin: 0 0 32px 0;
}
.popup-subscribe__info-text span {
  font-family: "TTFirsNeue-DemiBold", sans-serif;
  color: #0450FF;
}
.popup-subscribe__info-btn {
  padding: 15px 100px 14px;
  background: #0450FF;
  border-radius: 8px;
  font-family: "TTFirsNeue-Regular", sans-serif;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.popup-subscribe__info-btn:hover {
  background: #13399b;
}
.popup-subscribe__info-btn-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url("../img/btn-close.svg") no-repeat 0 0/contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.popup-subscribe__info-btn-close:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

@media screen and (max-width: 620px) and (orientation: portrait) {
  .popup-subscribe {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .popup-subscribe__wrapper {
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }
  .popup-subscribe__info {
    padding: 30px 15px 20px;
    border-radius: 20px 20px 0 0;
  }
  .popup-subscribe__info-image {
    max-width: 90px;
    margin: 0 0 13px 0;
  }
  .popup-subscribe__info-title {
    font-size: 24px;
    line-height: 30px;
    max-width: 225px;
    margin: 0 0 10px 0;
  }
  .popup-subscribe__info-text {
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 450px) {
  .popup-subscribe__info-btn {
    font-size: 15px;
    line-height: 20px;
    padding: 15px 15px 14px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 920px) and (max-height: 450px) and (orientation: landscape) {
  .popup-subscribe__wrapper {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media screen and (max-width: 920px) and (max-height: 412px) and (orientation: landscape) {
  .popup-subscribe__wrapper {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media screen and (max-width: 920px) and (max-height: 375px) and (orientation: landscape) {
  .popup-subscribe__wrapper {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@media screen and (max-width: 920px) and (max-height: 320px) and (orientation: landscape) {
  .popup-subscribe__wrapper {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
/*# sourceMappingURL=short1-min.css.map */