<div class="popup-uk _hidden">
    <div class="popup-uk__wrapper">
        <div class="popup-uk__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-uk__info">
            <div class="popup-uk__info-btn-close"></div>
            <div class="popup-uk__info-img">
                <img src="img/popup-uk.svg" alt="message-popup" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-uk__info-title">Данный сайт предназначен только для украины</div>
            <a href="#" class="popup-uk__info-link">Продолжить</a>
        </div>
    </div>
</div>