<section class="overview">
  <div class="overview__container">
    <div class="overview__breadcrumbs description640">
      <a href="" class="overview__breadcrumbs-link">Home</a>
      <a href="" class="overview__breadcrumbs-link">Licensed casino</a>
      <a href="" class="overview__breadcrumbs-link">Licensed casino</a>
    </div>
    <div class="overview__row">
      <div class="overview__info">
        <div class="overview__info-image">
          <picture>
            <source srcset="img/img-casino.webp" type="image/webp">
            <img loading="lazy" src="img/img-casino.png" width="320" height="145"
                 alt="image-casino">
          </picture>
        </div>
        <div class="overview__info-wrap">
          <div class="overview__info-title__wrapper">
            <h1 class="overview__info-title">Favbet Casino</h1>
            <p class="overview__info-aside description775">#4 in the ranking</p>
          </div>
          <div class="overview__info-rating">
            <p class="overview__info-rating__counter">
              <span>4.5</span> / <span>8.0</span>
            </p>
            <div class="overview__info-rating__star">
              <img src="img/star-orange.svg" alt="star" width="15" height="15" loading="lazy">
              <img src="img/star-orange.svg" alt="star" width="15" height="15" loading="lazy">
              <img src="img/star-orange.svg" alt="star" width="15" height="15" loading="lazy">
              <img src="img/star-orange.svg" alt="star" width="15" height="15" loading="lazy">
              <img src="img/star-orange.svg" alt="star" width="15" height="15" loading="lazy">

            </div>
          </div>
          <div class="overview__info-buttons">
            <a href="" class="overview__info-link">Играть</a>

          </div>
        </div>
      </div>
      <div class="overview__spins">
        <div class="overview__spins-code">
          <div class="overview__spins-set">
            <div class="overview__spins-set_open">Opened</div>
            <div class="overview__spins-set_closed">Closed</div>
          </div>
          <input type="text" id="spin" placeholder="30 free spins for registration" readonly>
        </div>
        <div class="overview__spins-row">

          <div class="overview__spins-date">
            <span>Data created: </span>
            <time> 20.08.2022</time>
          </div>
          <div class="overview__spins-date-lost">
            <span>Lost updated: </span>
            <time> 20.08.2022</time>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="overview__tabs">
    <a href="" class="overview__tabs-link _active">Обзор</a>
    <a href="" class="overview__tabs-link">Регистрация</a>
    <a href="" class="overview__tabs-link">Бонуси</a>
    <a href="" class="overview__tabs-link">Промокод</a>
    <a href="" class="overview__tabs-link">Отзывы</a>
    <a href="" class="overview__tabs-link">Зеркало</a>
    <a href="" class="overview__tabs-link">Вход</a>
  </div>

</section>