.favorite{
  margin: 0 0 20px 0;
  padding: 80px 120px;
  background: $white;
  border-radius: 20px;
  &__container{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-family: $font-firs-semb;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.01em;
    color: $blue-darken;
    margin: 0 0 5px 0;
  }
  &__text{
    text-align: center;
    font-family: $font-firs-reg;
    font-size: 15px;
    line-height: 25px;
    color: $grey-text;
    margin: 0 0 20px 0;
  }
  &__link{
    align-self: center;
    display: inline-block;
    padding: 15px 50px 14px;
    border-radius: 8px;
    font-family: $font-firs-semb;
    font-size: 15px;
    line-height: 20px;
    color: $white;
    background: $blue;
    text-align: center;
    letter-spacing: 0.04em;
    transition: background .3s ease;
    &:hover{
      background: $blue-hover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .favorite{
    padding: 80px 60px;
    width: calc(100% - 30px);
    margin: 0 15px 20px 15px;
  }
}

@media screen and (max-width: 640px) {
  .favorite{
    padding: 60px 30px;
    width: calc(100% - 30px);
   &__title{
     font-size: 28px;
     line-height: 30px;
     margin: 0 0 10px 0;
   }
    &__text{
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 20px 0;
    }
  }
}