.overview {
  padding: 190px 0 100px 0;
  background: #4C2233 url("../img/bg-desc.webp") no-repeat 50% 0/cover;
  @media screen and (max-width: 600px){
    background: #4C2233 url("../img/bg-mob.webp") no-repeat 50% 0/cover;
  }
  background-size: cover;
  &__title{
    font-family: $font-firs-reg;
    color: $white;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

}

@media screen and (max-width: 1024px) {
  .overview{
    padding: 133px 0 100px 0;
  }
}

@media screen and (max-width: 600px) {
  .overview{
    padding: 115px 0 90px 0;
    &__title{
      font-size: 32px;
      line-height: 48px;
    }
  }
}