<div class="popup-subscribe-email _hidden">
    <div class="popup-subscribe-email__wrapper">
        <div class="popup-subscribe-email__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-subscribe-email__info">
            <div class="popup-subscribe-email__info-btn-close"></div>
            <div class="popup-subscribe-email__info-title">Пiдпишись на оновлення
                i першим отримуй найсвiжiшi <span>БОНУСИ</span>
            </div>
            <div class="popup-subscribe-email__info-wrap">
                <input type="email" class="popup-subscribe-email__info-input" placeholder="Email">
                <button class="popup-subscribe-email__info-sub">Подписаться</button>
            </div>
            <div class="popup-subscribe-email__info-text">
                By providing contacts, you agree to the processing of <a href="#">personal data</a>
            </div>
        </div>
    </div>
</div>