<div class="popup-successfully _hidden">
    <div class="popup-successfully__wrapper">
        <div class="popup-successfully__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-successfully__info">
            <div class="popup-successfully__info-btn-close"></div>
            <div class="popup-successfully__info-img">
                <img src="img/successfull-popup.svg" alt="successfull-popup" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-successfully__info-title">Registration successfully</div>
            <div class="popup-successfully__info-text">Licensed online casinos with slot machines in Ukraine. The guarantee of </div>
            <a href="#" class="popup-successfully__info-link">To main</a>
        </div>
    </div>
</div>