<section class="overview">
    <div class="overview__wrap">
        <div class="overview__container">
            <h1 class="overview__title">больше про жалобы</h1>
            <ul class="overview__list">
                <li class="overview__item">
                    <div class="overview__item-title">20208</div>
                    <div class="overview__item-text">Обработанные
                        жалобы
                    </div>
                </li>
                <li class="overview__item">
                    <div class="overview__item-title">20208$</div>
                    <div class="overview__item-text">Денег
                        вернули
                    </div>
                </li>
                <li class="overview__item">
                    <div class="overview__item-title">20208</div>
                    <div class="overview__item-text">Решенные
                        жалобы
                    </div>
                </li>
            </ul>
            <a href="#" class="overview__link">Подать жалобу</a>
        </div>
        <div class="best__container">

            <h2 class="best__title">Лучшие онлайн казино в 2021 году</h2>
            <p class="best__text">Попробуйте последние предложения онлайн-казино, которые полностью </p>
            <ul class="best__list">
                <li class="best__item">
                    <div class="best__item-img">
                        <picture>
                            <source srcset="img/best-img1.webp" type="image/webp">
                            <img loading="lazy" src="img/best-img1.png" width="160" height="160"
                                 alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-title">Лучшие онлайн казино в 2021 году</div>
                    <div class="best__item-text">Попробуйте последние предложения онлайн-казино, которые полностью
                    </div>
                </li>
                <li class="best__item">
                    <div class="best__item-img">
                        <picture>
                            <source srcset="img/best-img2.webp" type="image/webp">
                            <img loading="lazy" src="img/best-img2.png" width="160" height="160"
                                 alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-title">Лучшие онлайн</div>
                    <div class="best__item-text">Попробуйте последние предложения</div>
                </li>
                <li class="best__item">
                    <div class="best__item-img">
                        <picture>
                            <source srcset="img/best-img3.webp" type="image/webp">
                            <img loading="lazy" src="img/best-img3.png" width="160" height="160"
                                 alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-title">Лучшие онлайн казино казино в 2021 году в 2021 году</div>
                    <div class="best__item-text">Попробуйте последние предложения онлайн-казино</div>
                </li>

            </ul>
            <a href="#" class="best__link">Подать жалобу</a>

        </div>
    </div>
</section>