<section class="bonus">
    <div class="bonus__container">
        <div class="bonus__info">
            <h2>Online casino bonuses</h2>
            <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino
                platforms. Also, make sure that our team can only nominate the titles whose play Norwegian casino games
                online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure
                that our team can only nominate the titles whose Online casino bonuses& To play Norwegian casino games
                online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure
                that our team can only nominate the titles whose play Norwegian casino games online safely, we recommend
                doing so on only regulated and licensed casino platforms. Also, make sure that our team can only
                nominate the titles whose </p>
            <h2>Online casino bonuses</h2>
            <ul>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
                <li>Doubtless, players can test the casinos themselves, but it is a long and time</li>
            </ul>
            <div class="content-table">
                <table>
                    <tbody>
                    <tr>
                        <td>🎰 Ігри онлайн-казино</td>
                        <td>Ігрові автомати, рулетка, покер ігри, слоти</td>
                    </tr>
                    <tr>
                        <td>⭐️ Режими гри в слоти</td>
                        <td>На гроші, демонстраційний режим</td>
                    </tr>
                    <tr>
                        <td>🎁 Бонуси</td>
                        <td>Бездепозитні бонуси, вітальні подарунки, кешбек, фріспіни</td>
                    </tr>
                    <tr>
                        <td>💵 Доступні валюти</td>
                        <td>UAH, EUR, USD, KZT, UZS та інші.</td>
                    </tr>
                    <tr>
                        <td>❤️ Мінімальний депозит у казино</td>
                        <td>1 UAH, 2 EUR, 2 USD</td>
                    </tr>
                    <tr>
                        <td>💲 Мінімальна сума зняття у казино</td>
                        <td>50 UAH</td>
                    </tr>
                    <tr>
                        <td>🔥 Способи оплати у казино</td>
                        <td>Mastercard, Visa, інтернет-банкінг, Google Play, Apple Pay, криптовалюта, термінали</td>
                    </tr>
                    <tr>
                        <td>⚡️ Підтримка гравців</td>
                        <td>Онлайн-чат, електронна пошта, мобільний телефон</td>
                    </tr>
                    <tr>
                        <td>📱 Мобільне казино</td>
                        <td>iOS, Android, Windows</td>
                    </tr>
                    <tr>
                        <td>✅ Популярні провайдери</td>
                        <td>Novomatic, Playtech, NetEnt, Microgaming, Yggdrasil, EvoPlay, NetGame та інші.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Online casino bonuses</h2>
            <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino
                platforms. Also, make sure that our team can only nominate the titles whose play Norwegian casino games
                online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure
                that our team can only nominate the titles whose Online casino bonuses& To play Norwegian casino games
                online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure
                that our team can only nominate the titles whose play Norwegian casino games online safely, we recommend
                doing so on only regulated and licensed casino platforms. Also, make sure that our team can only
                nominate the titles whose </p>
            <ol>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
                <li>To play Norwegian casino games online safely, we recommend doing s</li>
            </ol>
        </div>
        <a href="#" class="bonus__link">Подать жалобу</a>
    </div>
</section>