<section class="all-complaint">
    <div class="all-complaint__container">
        <h2 class="all-complaint__title">Все жалобы</h2>
        <ul class="all-complaint__list">
            <li class="all-complaint__item all-complaint__item-done">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">ВИРІШЕНО</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-load">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Обробляється</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-none">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-cancel">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Не вирішена</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-done">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">ВИРІШЕНО</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-load">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Обробляється</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-none">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-cancel">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Не вирішена</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link">Детальніше</a>
            </li>
        </ul>
        <div class="all-complaint__pagination">
            <button type="button" class="all-complaint__pagination-btn all-complaint__pagination-btn-arrow ll-complaint__pagination-btn-arrow-left"
                    aria-label="button">
                <img src="img/pagination-arrow.svg" alt="pagination-arrow">
            </button>
            <button type="button" class="all-complaint__pagination-btn _active" aria-label="button">
                1
            </button>
            <button type="button" class="all-complaint__pagination-btn" aria-label="button">
                2
            </button>
            <button type="button" class="all-complaint__pagination-btn" aria-label="button">
                3
            </button>
            <button type="button" class="all-complaint__pagination-btn" aria-label="button">
                4
            </button>
            <button type="button" class="all-complaint__pagination-btn all-complaint__pagination-btn-arrow all-complaint__pagination-btn-arrow-right"
                    aria-label="button">
                <img src="img/pagination-arrow.svg" alt="pagination-arrow">
            </button>
        </div>
    </div>
</section>