<div class="popup-news _hidden">
    <div class="popup-news__wrapper">
        <div class="popup-news__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-news__info">
            <div class="popup-news__info-btn-close"></div>
            <div class="popup-news__info-img">
                <img src="img/popup-news.svg" alt="news-popup" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-news__info-title">Ви успішно
                передплатили новини!</div>
            <a href="#" class="popup-news__info-link">login</a>
        </div>
    </div>
</div>