<div class="popup-subscribe-all _hidden">
    <div class="popup-subscribe-all__wrapper">
        <div class="popup-subscribe-all__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-subscribe-all__info">
            <div class="popup-subscribe-all__info-btn-close"></div>
            <div class="popup-subscribe-all__info-title">Пiдпишись на оновлення
                i першим отримуй найсвiжiшi <span>БОНУСИ</span>
            </div>
            <div class="popup-subscribe-all__info-wrap">
                <input type="email" class="popup-subscribe-all__info-input" placeholder="Email">
                <button class="popup-subscribe-all__info-sub">Подписаться</button>
            </div>
            <div class="popup-subscribe-all__info-text">
                By providing contacts, you agree to the processing of <a href="#">personal data</a>
            </div>
            <div class="popup-subscribe-all__info-telegram">
                <div class="popup-subscribe-all__info-telegram-image">
                    <picture>
                        <source srcset="img/tg.webp" type="image/webp">
                        <img loading="lazy" src="img/tg.png" width="114"
                             height="114" alt="image-telegram">
                    </picture>
                </div>
                <div class="popup-subscribe-all__info-telegram-wrap">
                    <div class="popup-subscribe-all__info-telegram-text">Підпишись на наш Telegram</div>
                    <a href="" class="popup-subscribe-all__info-telegram-link">Subscriptions</a>
                </div>
            </div>
        </div>
    </div>
</div>