<div class="popup-message _hidden">
    <div class="popup-message__wrapper">
        <div class="popup-message__started">
            <div class="popup-message__started-title">Get started with a free account</div>
            <div class="popup-message__started-subtitle">Let's tear it apart</div>
            <div class="popup-message__started-list">
                <div class="popup-message__started-item">Licensed online casinos with slot machines in</div>
                <div class="popup-message__started-item">Сasinos with slot machines in Ukraine</div>
                <div class="popup-message__started-item">Licensed online casinos with slot</div>
                <div class="popup-message__started-item">With slot machines in Ukraine</div>
            </div>
        </div>
        <div class="popup-message__cont">
            <div class="popup-message__title">casino<span>.</span><span>ua</span></div>
            <div class="popup-message__info">
                <div class="popup-message__info-btn-close"></div>
                <div class="popup-message__info-img">
                    <img src="img/img-message.svg" alt="message" width="45" height="42" loading="lazy">
                </div>
                <div class="popup-message__info-title">Message sent!</div>
                <div class="popup-message__info-text">Licensed online casinos with slot machines in Ukraine. The guarantee of </div>
                <a href="#" class="popup-message__info-link">login</a>

            </div>
        </div>
    </div>
</div>