<div class="popup-fall _hidden">
    <div class="popup-fall__wrapper">
        <div class="popup-fall__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-attention ">
            <div class="popup-attention__btn-close"></div>
            <div class="popup-attention__wrapper _top">
                <div class="popup-attention__title"><span>Важно!</span> перед подачи жалобы ознакомьтесь с информацией
                </div>
                <div class="popup-attention__text">
                    <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and
                        licensed casino platforms. Also, make sure that our team can only nominate the titles whose play
                        Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose Online casino
                        bonuses& To play Norwegian casino games online safely, we recommend doing so on only regulated
                        and licensed casino platforms. Also, make sure that our team can only nominate the titles whose
                        play Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose </p>
                    <h2>Подачи жалобы ознакомьтесь с информацией</h2>
                    <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and
                        licensed casino platforms. Also, make sure that our team can only nominate the titles whose play
                        Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose Online casino
                        bonuses& To play Norwegian casino games online safely, we recommend doing so on only regulated
                        and licensed casino platforms. Also, make sure that our team can only nominate the titles whose
                        play Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose </p>
                    <h2>Подачи жалобы ознакомьтесь с информацией</h2>
                    <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and
                        licensed casino platforms. Also, make sure that our team can only nominate the titles whose play
                        Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose Online casino
                        bonuses& To play Norwegian casino games online safely, we recommend doing so on only regulated
                        and licensed casino platforms. Also, make sure that our team can only nominate the titles whose
                        play Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose </p>
                    <h2>Подачи жалобы ознакомьтесь с информацией</h2>
                    <p>To play Norwegian casino games online safely, we recommend doing so on only regulated and
                        licensed casino platforms. Also, make sure that our team can only nominate the titles whose play
                        Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose Online casino
                        bonuses& To play Norwegian casino games online safely, we recommend doing so on only regulated
                        and licensed casino platforms. Also, make sure that our team can only nominate the titles whose
                        play Norwegian casino games online safely, we recommend doing so on only regulated and licensed
                        casino platforms. Also, make sure that our team can only nominate the titles whose </p>
                </div>
                <div class="popup-attention__arrow _anim"></div>
                <button type="button" class="popup-attention__btn _disabled">Согласиться и принять</button>
            </div>
        </div>
        <div class="popup-supply _hidden">
            <div class="popup-supply__btn-close"></div>
            <div class="popup-supply__wrapper">
                <div class="popup-supply__title">Заполните форму подачи жалобы</div>
                <form action="#" class="popup-supply__form" novalidate>
                    <div class="popup-supply__form-row">
                        <div class="popup-supply__form-item">
                            <label for="name" class="popup-supply__form-label">Название жалобы</label>
                            <input type="text" class="popup-supply__form-input js-input" name="name" id="name"
                                   placeholder="Название жалобы">
                        </div>
                        <div class="popup-supply__form-item">
                            <label for="casino-id" class="popup-supply__form-label">Выбор казино</label>
                            <div class="popup-supply__form-select-wrap">
                                <select name="casino" id="casino-id" class="popup-supply__form-select">
                                    <option selected disabled value="">--Выбрать--</option>
                                    <option class="popup-supply__form-option" value="Favbet">Favbet</option>
                                    <option class="popup-supply__form-option" value="Cosmolot">Cosmolot</option>
                                    <option class="popup-supply__form-option" value="Favbet">Favbet</option>
                                    <option class="popup-supply__form-option" value="Cosmolot">Cosmolot</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="popup-supply__form-item popup-supply__form-item-textarea">
                        <label for="textarea" class="popup-supply__form-label">Текст жалобы</label>
                        <textarea name="textarea" id="textarea" cols="30" rows="6"
                                  class="popup-supply__form-textarea js-input"
                                  placeholder="Текст жалобы"></textarea>
                    </div>
                    <div class="popup-supply__form-row">
                        <div class="popup-supply__form-item">
                            <label for="theme-id" class="popup-supply__form-label">Тема жалобы</label>
                            <div class="popup-supply__form-select-wrap">
                                <select name="theme" id="theme-id" class="popup-supply__form-select">
                                    <option selected disabled value="">--Выбрать--</option>
                                    <option class="popup-supply__form-option" value="1">Плохо</option>
                                    <option class="popup-supply__form-option" value="2">Хорошо</option>
                                    <option class="popup-supply__form-option" value="3">Пойдет</option>
                                    <option class="popup-supply__form-option" value="4">Не пойдет</option>
                                </select>
                            </div>
                        </div>
                        <div class="popup-supply__form-item popup-supply__form-item-file">
                            <label for="file" class="popup-supply__form-file">Прикрепить файл</label>
                            <input type="file" id="file" name="file" multiple class="popup-supply__form-input-file">
                        </div>
                    </div>
                    <div class="popup-supply__form-subtitle">Эта информация не будет видна</div>
                    <div class="popup-supply__form-row">
                        <div class="popup-supply__form-item">
                            <label for="nickname" class="popup-supply__form-label">Никнейм в этом казино</label>
                            <input type="text" class="popup-supply__form-input js-input" name="nickname" id="nickname"
                                   placeholder="Никнейм в этом казино">
                        </div>
                        <div class="popup-supply__form-item">
                            <label for="mail" class="popup-supply__form-label">Емейл в этом казино</label>
                            <input type="email" class="popup-supply__form-input js-input js-email" name="mail" id="mail"
                                   placeholder="Емейл в этом казино">
                        </div>
                    </div>
                    <div class="popup-supply__form-row-last">
                        <div class="popup-supply__form-check">
                            <input type="checkbox" class="popup-supply__form-checkbox js-check" id="checkbox"
                                   name="checkbox">
                            <label for="checkbox" class="popup-supply__form-check-label"></label>
                            <div class="popup-supply__form-check-text">I, the sender, confirm that the above information
                                is true and correct and that my shipment does <a href="#">Conditions of Carriage</a>.
                            </div>
                        </div>
                        <div class="popup-supply__form-on">
                            <button type="submit" class="popup-supply__form-submit">Подать жалобу</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup-done _hidden">
            <div class="popup-done__btn-close"></div>
            <div class="popup-done__wrapper">
                <div class="popup-done__img">
                    <img src="img/big-done.svg" alt="done" loading="lazy" width="70" height="31">
                </div>
                <div class="popup-done__title">Мы отправили
                    вашу жалобу
                </div>
                <div class="popup-done__text">Licensed online casinos with slot machines in Ukraine. The guarantee
                    of
                </div>
                <button type="button"class="popup-done__link">На главную</button>
            </div>
        </div>
    </div>
</div>