<footer class="footer">
    <div class="footer__container">
        <div class="footer__row-1">
            <div class="footer__logo">
                <a href="" class="footer__logo-link">casino<span>.</span><span>ua</span></a>
            </div>
            <div class="footer__social">
                <div class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Telegram"></a>
                    <svg width="20" height="19">
                        <use href="assets/images/footer/telegram.svg#telegram"></use>
                    </svg>
                </div>
                <div class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Viber"></a>
                    <svg width="23" height="25">
                        <use href="assets/images/footer/viber.svg#viber"></use>
                    </svg>
                </div>
                <div class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="WhatsApp"></a>
                    <svg width="21" height="21">
                        <use href="assets/images/footer/what.svg#what"></use>
                    </svg>
                </div>
                <div class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Facebook"></a>
                    <svg width="11" height="21">
                        <use href="assets/images/footer/facebook.svg#facebook"></use>
                    </svg>
                </div>
                <div class="footer__social-item">
                    <a href="" class="footer__social-link" aria-label="Instagram"></a>
                    <svg width="21" height="21">
                        <use href="assets/images/footer/insta.svg#insta"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="footer__row-2">
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
            <div class="footer__row-2__item">
                <div class="footer__title">Information</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">News</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Editorial staff</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contacts</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Map of site</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__cookie">
            <img src="assets/images/footer/cookie.png"
                 srcset="assets/images/footer/cookie@2x.png 2x"
                 width="40" height="40"
                 alt="cookie">
            <p class="footer__cookie-text">This site uses cookies to store data.
                By continuing to use the site, you consent to the storage of cookies </p>
            <div class="footer__cookie__buttons">
                <button type="button" class="button-ok btn-cookie">оК</button>
                <div class="button-close btn-cookie">
                    <svg width="19" height="19">
                        <use href="assets/images/footer/close-cookie.svg#cookie"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="footer__row__3">
            <div class="footer__sponsors">
                <img src="assets/images/footer/sponsors/18+.png"
                     srcset="assets/images/footer/sponsors/18+@2x.png 2x"
                     width="44" height="19"
                     alt="18+">
                <img src="assets/images/footer/sponsors/begame.png"
                     srcset="assets/images/footer/sponsors/begame@2x.png 2x"
                     width="64" height="21"
                     alt="beGamble">
                <img src="assets/images/footer/sponsors/ecogra.png"
                     srcset="assets/images/footer/sponsors/ecogra@2x.png 2x"
                     width="68" height="21"
                     alt="ecogra">
                <img src="assets/images/footer/sponsors/itech.png"
                     srcset="assets/images/footer/sponsors/itech@2x.png 2x"
                     width="32" height="32"
                     alt="itech">
                <img src="assets/images/footer/sponsors/gli.png"
                     srcset="assets/images/footer/sponsors/gli@2x.png 2x"
                     width="50" height="17"
                     alt="gli">
                <img src="assets/images/footer/sponsors/dmca.png"
                     srcset="assets/images/footer/sponsors/dmca@2x.png 2x"
                     width="68" height="21"
                     alt="dmca">
            </div>
            <p class="footer__copyright">
                By providing contacts, you agree to the agree to the processing of
                <a href="" class="footer__copyright-link"> personal data </a>
                and
                <a href="" class="footer__copyright-link"> privacy policy </a>
            </p>
        </div>
    </div>
</footer>