.popup-login {
  position: fixed;
  background: #111111 url("../img/bg-popup.webp") no-repeat 50% 0/cover;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .7s ease, visibility .7s ease;
  &._hidden{
    opacity: 0;
    visibility: hidden;
  }
  &__wrapper{
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  &__started{
    margin: 0 25px 0 0;
    &-title{
      max-width: 430px;
      font-family: $font-firs-semb;
      font-size: 38px;
      line-height: 48px;
      letter-spacing: 0.01em;
      color: $white;
      margin: 0 0 45px 0
    }
    &-subtitle{
      max-width: 430px;
      font-family: $font-firs-reg;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: $white;
      margin: 0 0 15px 0;
    }
    &-list{
      max-width: 430px;
    }
    &-item{
      font-family: $font-firs-reg;
      font-size: 15px;
      line-height: 20px;
      color: $white;
      position: relative;
      padding-left: 30px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: url("../img/done.svg") no-repeat 0 0/contain;
      }
      &:not(:last-child){
        margin: 0 0 20px 0;
      }
    }
  }

  &__title{
    font-family: $font-firs-semb;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    margin: 0 0 25px 0;
    span{
      &:first-child{
        color: $blue;
      }
      &:nth-child(2){
        font-style: italic;
      }
    }
  }
  &__info{
    max-width: 600px;
    position: relative;
    padding: 50px 100px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $grey-white-bg;

    &-btn-close{
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 24px;
      height: 24px;
      background: url("../img/btn-close.svg") no-repeat 0 0/contain;
      transition: transform $transition;
      &:hover{
        transform: scale(1.06);
      }
    }

    &-title{
      font-family: $font-firs-semb;
      font-size: 38px;
      line-height: 48px;
      letter-spacing: 0.01em;
      color: $blue-darken;
      margin: 0 0 25px 0;
    }
    &-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;
    }
    &-login{
      display: inline-block;
      width: 400px;
      padding: 15px 16px 14px;
      background: $white;
      border-radius: 4px;
      margin: 0 0 10px 0;
      &::placeholder{
        font-family: $font-firs-reg;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.004em;
        color: $green;
      }
    }
    &-pass{
      display: inline-block;
      width: 400px;
      padding: 15px 16px 14px;
      background: $white;
      border-radius: 4px;
      &-wrap{
        position: relative;
        margin: 0 0 20px 0;
        span{
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 17px;
          height: 13px;
          background: url("../img/view-input.svg") no-repeat center/contain;
          transition: opacity .3s ease;
          &:hover{
            opacity: .8;
          }
        }
      }
      &::placeholder{
        font-family: $font-firs-reg;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.004em;
        color: $green;
      }
    }

    &-btn{
      display: inline-block;
      padding: 15px 100px 14px;
      font-family: $font-firs-reg;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      color: $white;
      background: $blue;
      border-radius: 8px;
      align-self: center;
      transition: background .3s ease ;
      &:hover{
        background: $blue-hover;
      }

    }

    &-forgot{
      display: inline-block;
      margin: 0 0 80px 0;
      font-family: $font-firs-reg;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: center;
      color: $blue;
      &:hover{
        color: $blue-hover;
      }
    }

    &-google{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      font-family: $font-firs-reg;
      padding: 15px 30px 14px;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: $blue-darken;
      border: 1px solid #B9D1D4;
      border-radius: 8px;
      margin: 0 0 35px 0;
      transition: background .3s ease ;
      img{
        margin: 0 5px 0 0;
      }
      &:hover{
        background: #B9D1D4;
      }
    }

    &-reg{
      display: inline-block;
      font-family: $font-firs-reg;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: center;
      color: $blue;
      &:hover{
        color: $blue-hover;
      }
    }

  }
}

@media screen and (max-width: 1920px) and (max-height: 700px) {
  .popup-login{
    &__wrapper{
      transform: scale(.9);
    }
  }
}

@media screen and (max-width: 1920px) and (max-height: 640px) {
  .popup-login{
    &__wrapper{
      transform: scale(.8);
    }
  }
}

@media screen and (max-width: 1100px) {
  .popup-login{
    &__wrapper{
      justify-content: center;
    }
    &__started{
      display: none;

    }
  }
}

@media screen and (max-width: 1024px) {
  .popup-login{
    &__title{
      display: none;
    }
  }
}



@media screen and (max-width: 620px) and (orientation: portrait) {
  .popup-login{
    align-items: flex-end;
    background: none;
    backdrop-filter: blur(15px);
    background: rgba(17, 17, 17, 0.8);
    &__cont{
      max-width: 100%;
      min-width: 100%;
      margin: 0;
    }
    &__wrapper{
      transform: scale(1);
      max-width: 100%;
      min-width: 100%;
      padding: 0 ;
    }
    &__info{
      padding: 40px 15px 25px;
      border-radius: 20px 20px 0 0 ;
      max-width: 100%;
      &-title{
        font-size: 24px;
        line-height: 30px;
      }
      &-forgot{
        margin: 0 0 30px 0;
      }
      &-login{
        width: 100%;
      }
      &-pass{
        width: 100%;
      }
      &-btn{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 920px) and (max-height: 450px) and (orientation: landscape){
  .popup-login{
    &__wrapper{
      transform: scale(.65);
    }
  }
}

@media screen and (max-width: 920px) and (max-height: 412px) and (orientation: landscape){
  .popup-login{
    &__wrapper{
      transform: scale(.6);
    }
  }
}

@media screen and (max-width: 920px) and (max-height: 375px) and (orientation: landscape){
  .popup-login{
    &__wrapper{
      transform: scale(.5);
    }
  }
}

@media screen and (max-width: 920px) and (max-height: 320px) and (orientation: landscape){
  .popup-login{
    &__wrapper{
      transform: scale(.4);
    }
  }
}