<div class="popup-log _hidden">
    <div class="popup-log__wrapper">
        <div class="popup-log__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-log__info">
            <div class="popup-log__info-btn-close"></div>
            <div class="popup-log__info-img">
                <img src="img/popup-log.svg" alt="log-popup" loading="lazy" width="70" height="31">
            </div>
            <div class="popup-log__info-title">Are you sure you
                want to log out of
                your account?</div>
            <a href="#" class="popup-log__info-link">Yes</a>
            <a href="#" class="popup-log__info-link-cancel">Cancel</a>
        </div>
    </div>
</div>