<div class="popup-forgot _hidden">
    <div class="popup-forgot__wrapper">
        <div class="popup-forgot__title">casino<span>.</span><span>ua</span></div>
        <div class="popup-forgot__info">
            <div class="popup-forgot__info-btn-close"></div>
            <div class="popup-forgot__info-title">Forgot password</div>
            <form action="#" class="popup-forgot__info-form">
                <input type="email" name="email" class="popup-forgot__info-form-email" placeholder="Email">
                <button type="submit" class="popup-forgot__info-form-btn">Send</button>
            </form>
            <a href="#" class="popup-forgot__info-link">Register now</a>
            <a href="#" class="popup-forgot__info-link">login</a>
        </div>
    </div>
</div>